

.countryList {
  height: 80%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
  gap: 2rem;
  list-style: none;
  margin: 0;
}

.country {
  width: 200px;
  height: 280px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
  color: white;
  text-align: center;
}

.flag {
  width: 100px;
  height: 80px;
  margin-bottom: 1rem;
  object-fit: contain;
}

.pagination {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  color: white;
}

button {
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  background: #007bff;
  cursor: pointer;
  color: white;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}


.favoriteBtn {
  appearance: none;
 content: url(public/heart-empty.png);
  filter: invert(1);
  width: 30px;
  border: none;
}

.favoriteLbl {
  margin-top: 5px;
  display: flex;
  border: none;
}

.favoriteBtn:checked {
  content: url(public/heart-filled.png);
  filter: invert(0);
  width: 30px;
}
